__debug_bin
/vgmaster/log
/vglogin/log
/dummycli/log
/vggame/log
/vgmaster/vgmaster
/vglogin/vglogin
/vggame/vggame
/dummycli/dummycli
/vggame/vggame.exe
/vglogin/vglogin.exe
/vgmaster/vgmaster.exe
/vgrecharge/log
/vgrecharge/vgrecharge
/vgrecharge/vgrecharge.exe
*_test.go